.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  width: 1215px;
  margin-left: 112.5px;
}

.header__logo-wrapper {
}

.header__logo-square {
  margin-bottom: -15px;
  margin-left: -4px;
}

.header__menu {
  font-size: 16px;
  line-height: 28px;
}

.header__spisok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.header__link1,
.header__link2,
.header__link3,
.header__link4,
.header__link5 {
  color: black;
  text-decoration: none;
}

.header__arrow {
  position: absolute;
  margin-left: 40%;
}

.header__li1,
.header__li2,
.header__li3,
.header__li4,
.header__li5 {
  transition: 0.3s;
}

.header__li1:hover,
.header__li2:hover,
.header__li3:hover,
.header__li4:hover,
.header__li5:hover {
  transition: 0.3s;
  text-decoration: underline;
}

.header__li1:active,
.header__li2:active,
.header__li3:active,
.header__li4:active,
.header__li5:active {
  transition: 0.3s;
  transform: translateY(2px);
}
