/* 
.header__link1,
.header__link2,
.header__link3,
.header__link4,
.header__link5 {
  color: black;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.header__logo-wrapper {
  margin-left: 115px;
}

.header__logo-img {
}

.header__logo-link {
}

.header__logo-square {
}

.header__menu {
}

.header__spisok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.header__li {
}

.header__link1 {
}

.header__link2 {
}

.header__link3 {
}

.header__link4 {
}

.header__link5 {
}

.header__arrow {
}

.header__arrow-img {
}

.header__arrow-link {
}
