.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.header__logo-wrapper {
  margin-left: 112.5px;
}

.header__logo-img {
}

.header__logo-link {
}

.header__logo-square {
  margin-bottom: -15px;
  margin-left: -4px;
}

.header__menu {
  font-size: 16px;
  line-height: 28px;
}

.header__spisok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.header__li1 {
}

.header__li2 {
}

.header__li3 {
}

.header__li4 {
}

.header__li5 {
}

.header__link1,
.header__link2,
.header__link3,
.header__link4,
.header__link5 {
  color: black;
  text-decoration: none;
}

.header__arrow {
  position: absolute;
  margin-left: 1445px;
}

.header__arrow-img {
}

.header__arrow-link {
}
